<p id="notice"><%= notice %></p>

<!-- contact_messages_path verlinkt hierher! oder url localhost:3000/contact_messages -->

<h1>Listing Contact Messages</h1>

<!-- <ul> Aufruf des Partials
	<%= render partial: "contact_messages", collection: @contact_messages %> <!-- rendert Inhalt der Partial _contact_messages-->
</ul>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_messages.each do |contact_message| %>
      <tr>
        <td><%= contact_message.name %></td>
        <td><%= contact_message.email %></td>
        <td><%= contact_message.message %></td>
        <td><%= link_to 'Show', contact_message %></td>
        <td><%= link_to 'Edit', edit_contact_message_path(contact_message) %></td>
        <!-- link_to und delete geht nicht ohne Javascript, deswegen Button nutzen!! -->
        <td><%= button_to 'Destroy', contact_message, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact message', new_contact_message_path %>
